# {{ ansible_managed }}

# The configuration you want to run
WILDFLY_CONFIG={{ wildfly_config }}

# The mode you want to run
WILDFLY_MODE={{ wildfly_mode }}

# The address to bind to
WILDFLY_BIND={{ wildfly_bind }}

# The address to bind management interfaces to
WILDFLY_MANAGEMENT_BIND={{ wildfly_management_bind }}

{% if wildfly_java_opts %}
JAVA_OPTS="{{ wildfly_java_opts }}"
{% endif %}
